.ololol
{
	margin-top: 10%;
}

.trente-trois
{
	width: 33%;
}

.soixante-dix
{
	width: 75%;
}

.formsh
{
	height: 35px;
	border-radius: 2px;
	border: none;
	font-size: 19px;
	float: left;
}

.submitbut
{
	margin-left: 100%;
	margin-top: -6%;
}